<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>12</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://raw.githubusercontent.com/Jods-GH/DiscordQueryBot/master/Publish/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>x86</Platform>
    <PublishDir>bin\Release\net7.0-windows10.0.17763.0\win-x86\app.publish\</PublishDir>
    <PublishUrl>H:\GithubRepositories\DiscordQueryBot\Publish\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net7.0-windows10.0.17763.0</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2023-11-26T19:11:55.8815779Z;True|2023-11-12T12:13:29.5661974+01:00;True|2023-11-11T11:29:17.0618220+01:00;True|2023-11-11T10:34:48.0610143+01:00;True|2023-11-11T10:11:20.9739787+01:00;True|2023-11-07T20:18:20.7489859+01:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.CoreRuntime.7.0.x64">
      <Install>true</Install>
      <ProductName>.NET Runtime 7.0.12 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>